<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-SemiBold.otf</string>
	</array>
	<key>appleMusicDeveloperToken</key>
	<string>eyJhbGciOiJFUzI1NiIsImtpZCI6IktYMjlINkNGN1QiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJVSDhMNDI0NE1CIiwiaWF0IjoxNzcwOTg3MjU1LCJleHAiOjE3ODY1MzkyNTV9._lmqZSrnGRFd_SXoB3g08AvuQNDbJ6J_yZiDj8Uz1_lek4rKg9WP5HO4M7Ku1vpVe26j7Zv_5PFCAJQU1y6tFw</string>
</dict>
</plist>
